@import '../variables';

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 900px) {
    flex-direction: column !important;
    padding: 10px;
    margin: 15px 0px;
  }
}

.card {
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px;
  border-radius: 10px;
  background: $white;
  margin: 20px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  font-size: 14px;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 15px;
    margin: 15px 0px;
    width: 300px;
  }

  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.left,
.middle,
.right {
  margin: 10px 0px;
}

.cardButton {
  width: 100%;
  height: 30px;
  text-transform: none;
  background: #ffffff;
  border: #8c8c8c;
  border-radius: 30px;
  color: #464646;
  text-transform: capitalize;

  &:hover {
    background: $purple;
    color: #fff;
  }
}

.statusLabel {
  text-transform: capitalize;
  display: inline-block;
}
