.resultsContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;

  h3,
  h6 {
    color: #333;
    margin-bottom: 30px;
  }

  p {
    color: #666;
    margin-bottom: 20px;
  }
}

.openAppContainer,
.approvedAppContainer {
  position: relative;
  margin-top: 30px;
}
