.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.navLinks {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.navLinkItem a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;

  &:hover {
    color: #90caf9;
  }
}
