.homePageContainer {
  display: flex !important;
  position: relative;
  background-image: url('/assets/homepage-bg-mobile.webp');
  background-size: cover;
  height: 90vh;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;

  @media (min-width: 900px) {
    background-image: url('/assets/homepage-bg-desktop.png');
  }
}

.ctaContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.homePageHero {
  max-width: 1024px;
  margin: 0 auto;
  color: white;
}

.heroButton {
  position: relative;
  margin-top: 20px; 
}

.homePageDescription {
  position: relative;
  margin: 20px 0!important; 
}