@mixin flex($direction: row, $justify: flex-start, $align: flex-start, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

.menuBar,
.toolBar {
  @include flex(row, space-between, flex-start);
  color: var(--black);

  a {
    text-decoration: none;
  }
}

.menuButton {
  color: var(--black);
}

.logo {
  position: relative;
  width: 100px;
}

.links {
  @include flex(column);
  height: 65px;

  @media (min-width: 900px) {
    @include flex(row, flex-end, flex-end);
    width: 100%;
  }
}

.link,
.activeLink {
  text-decoration: none;
  margin-right: 2rem;
}

.link {
  color: var(--grey-3);
  padding-bottom: 10px;
}

.activeLink {
  color: var(--black);
  border-bottom: 2px solid var(--purple);
  padding-bottom: 8px;
}

.drawerPaper {
  padding: 20px;
  min-width: 300px;

  .link,
  .activeLink {
    margin: 10px 0px;
    width: auto;
  }
}

.menuCloseButton {
  width: 40px;
  height: 40px;
}

.logoContainer,
.desktopButtonContainer {
  @include flex(row, space-between, flex-end, wrap);
  margin-bottom: 30px;
  width: 100%;
}

.signupButton {
  min-width: 250px;
  text-transform: capitalize;
  width: 100%;
  margin-top: 30px;

  @media (min-width: 900px) {
    margin-top: 0px;
    min-width: 100px;
    width: 50%;
  }
}

.mobileButtonContainer {
  margin-top: 30px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 80px;
}

.desktopButtonContainer {
  min-width: 220px;
  margin-bottom: 15px;
  margin-left: 30px;
}

.signupButton {
  border: 1px solid var(--black);
  background: var(--white);
  color: var(--black);

  @media (min-width: 900px) {
    width: 45%;
  }
}
