.adminDashboardContainer {
  margin-top: 40px;
  max-width: 1024px;
}

.header {
  margin-top: 10px;
  margin-bottom: 40px;

  > p {
    margin-top: 20px;
  }
}

.descriptionParagraph {
  margin: 30px 0px;
}

.cardContainer {
  > div > div {
    &:first-of-type {
      margin-top: 30px;
    }
    margin: 0px;
  }
}
