// _variables.scss

$blue: #4263EB;
$purple: #7048E8;
$green: #51CF66;
$yellow: #EADA0B;
$lime: #B7F133;
$main-gradient: linear-gradient(to right, #2D84EB, #8259EF);
$cta-gradient: linear-gradient(45deg, #3EC878, #21A056);
$black: #212429;
$white: #F9F9F9;
$grey-1: #DDE2E5;
$grey-2: #ACB5BD;
$grey-3: #495057;
