@import 'variables';

.cardContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @media (max-width: 900px) {
    flex-direction: column;
    padding: 10px;
    margin: 15px 0px;
  }
  
}

.buttonContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 15px; 
  text-align: center;
  width: 40%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 30px; 
  border-radius: 10px;
  background: $white;
  margin: 20px 0px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  width: 100%;
  font-size: 14px;

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 15px;
    margin: 15px 0px;
    width: 300px;
  }
  
  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  }
}

.bar {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0px; 
  border-radius: 10px 0 0 10px;
  left: 0;

  @media (max-width: 900px) {
    height: 10px;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
}

.view {
  .bar {
    background:$grey-2;
  }
}

.vote {
  .bar {
    background:$grey-3;
  }
}

.approved {
  .bar {
    background:$green;
  }
  .checkBox {
    color:$green;
  }
}

.denied {
  .bar {
    background:$yellow;
  }
  .checkBox {
    color:$yellow!important;
  }
}

.default {
  .bar {
    background:$grey-1;
  }
  .checkBox {
    color:#fff!important;
    svg {
      border: 1px solid $grey-2;
      border-radius: 5px;
    }
  }
}

.left, .middle, .right {
  flex: 1;
}


.speakerLabel, .titleLabel, .ratingLabel, .buttonLabel {
  color:#8C8C8C;
  font-size: 12px;
  padding-bottom: 5px; 
}
.buttonLabel { 
  padding-bottom: 15px; 
}

.speaker .title {
  margin-top: -10px;
  position: relative;
}

.cardButton {
  width: 100%;
  height: 30px;
  margin-top: 0px; 
  text-transform: none;
  background: #ffffff;
  border:#8C8C8C;
  border-radius: 30px;
  color: #464646;
  text-transform: capitalize;
  
  &:hover {
    background: $purple;
    color: #fff;
  }
}

.ratingContainer {
  >span {
    color: $green;
  }
}