// Dashboard.module.scss
.dashboardContainer {
  margin-top: 40px;
  max-width: 1024px; 
}

.header {
  margin-top: 10px; 
  margin-bottom: 20px; 
}

.cardContainer {
  >div >div {
    &:first-of-type {
      margin-top: 30px;
    }
    margin: 0px; 
  }
}
