@import 'variables';

.menuBar {
  background-color: whitesmoke;
  right: 20px;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;

  a {
    text-decoration: none;
  }
}
.menuButton {
  color: black;
}

.toolBar {
  background-color: whitesmoke;
  margin-bottom: 30px;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
}

.logo {
  position: relative;
  width: 100px;
}

.links {
  display: flex;
  flex-direction: column;
  height: 65px;
  
  @media (min-width: 900px) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    position: relative;
  }
}

.link {
  color: $grey-3;
  text-decoration: none;
  margin-right: 2rem;
  padding-bottom: 10px;
}

.activeLink {
  color: $black;
  border-bottom: 2px solid $purple;
  text-decoration: none;
  padding-bottom: 8px;
  margin-right: 2rem;
}

.drawerPaper {
  padding: 20px; 
  min-width: 300px;
  .link, .activeLink {
    margin: 10px 0px;
    width: auto;
  }
}
.menuCloseButton {
  width: 40px; 
  height: 40px; 
}

.mobileButtonContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.desktopButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  min-width: 320px;
  margin-bottom: 5px;
  margin-left: 30px; 
}

.logoContainer { 
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin: 0px 0 30px; 
}

.loginButton {
  margin-top: 10px;
  background: $purple;
  min-width: 250px;

  @media (min-width: 900px) {
    margin-top: 0px;
    background: $purple;
    min-width: 100px;
    width: 50%;
  
  }
}

.signupButton {
  border: 1px solid $black;
  background: $white;
  color: $black;
  min-width: 250px;
  
  @media (min-width: 900px) {
    margin-top: 0px;
    background: $white;
    color: $black;
    min-width: 100px;
    width: 45%;
  }
}
