// HomePage.module.scss
.homePageContainer {
  position: relative;
  background-image: url("https://images.hedera.com/HH-Homepage-Mobile-Hero.jpg?w=780&auto=compress%2Cformat&fit=crop&dm=1680225199&s=f1c676e0dd7b57e46aa9eafa97823a72");
  background-size: cover;
  height: 90vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.homePageHero {
  max-width: 1024px;
  margin: 0 auto; 
  color: white;
}

.heroButton {
  background: linear-gradient(45deg, #3EC878, #21A056)
}