.homePageContainer {
  display: flex !important;
  position: relative;
  background-image: url('/assets/homepage-bg-mobile.webp');
  background-size: cover!important;
  height: 90vh!important;
  max-width: 100%!important;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;

  @media (min-width: 900px) {
    background-image: url('/assets/homepage-bg-desktop.png')!important;
  }
}


.homePageHero {
  max-width: 1024px;
  margin: 0 auto;
  color: white;
}

.heroButton {
  color: white!important;
  min-width: 250px!important;
  background: #21a056!important;

  &:hover {
    background: #3ec878!important
  }
}
