@import '../variables';

.footer {
  background-color: $white;
  color: $black;
  padding: 16px 0;
  margin-top: 30px;
  text-align: center;
  border-top: 2px solid $grey-3;

  @media (min-width: 600px) {
    padding: 24px 0;
    text-align: initial;
  }
}

.logoContainer {
  display: flex;
  justify-content: center;

  @media (min-width: 600px) {
    justify-content: flex-start;
  }
}

.linkContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @media (min-width: 600px) {
    justify-content: flex-end;
    flex-direction: row;
  }
}

.linkContainerMobile {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.linkItem {
  a {
    color: inherit;
    text-decoration: none;
    font-size: 12px;
  }
}

.copyright {
  margin-top: 16px;
}
