.submitApplication {
  max-width: 600px;
  min-width: 300px;
  margin: 0 auto 40px;
  padding: 20px;

  .selectionText {


    @media (max-width: 900px) {
      margin: 10px 0;
    }
  }

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }

  form {
    display: flex;
    flex-direction: column;

    .MuiTextField-root {
      margin-bottom: 20px;
    }

    .MuiButton-root {
      margin: 20px auto;
    }

    @media (max-width: 600px) {
      padding: 10px;
    }
  }
}
